{% extends "base.html" %}
{% block conteudo %}
    <section class="card">
        <h2 class="card__titulo">Nova tarefa</h2>
        <form action="{{ url_for('tarefas.criar_tarefa') }}" method="POST" class="formulario">
            <div class="formulario__grupo">
                <label for="descricao" class="formulario__label">Descrição da tarefa</label>
                <input type="text" id="descricao" name="descricao" placeholder="Ex: estudar para prova" class="formulario__input" required>
            </div>

            <div class="formulario_acoes">
                <button type="submit" class="botao botao--primario">Adicionar tarefa</button>
                <a href="{{ url_for('tarefas.index') }}" class="botao botao--secundario">Voltar para a lista</a>
            </div>
    </section>
    </form>
{% endblock %}