{% extends "base.html" %}
    {% block conteudo %}
        <ul>
            {% for tarefa in tarefas %}
                <li>
                    <span>{{ tarefa.descricao }}</span>
                    {% if tarefa.estado %}
                        <span>Concluido</span>
                    {% else %}
                        <span>Pendente</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <button class="botao-tema">Criar nova tarefa</button>
    {% endblock %}